# NPM_TOKEN environment variable should be defined in your system.
# For example on linux, add this line in your .bashrc: export NPM_TOKEN=VALUE
# Note: NPM_TOKEN value can be found in this page: https://ultraio.atlassian.net/wiki/spaces/PROJ/pages/372998145/Tech+Onboarding+Kit
//registry.npmjs.org/:_authToken=${NPM_TOKEN}
